@import '../../styles/mixins'
@import '../../styles/variables'

.career-detail
  width: 100%
  padding: 100px 30px 30px
  background: #fff
  border: 1px solid #dbe0e4
  border-radius: 2px
  @include flex($flexDirection: column, $justifyDirection: flex-start, $alignDirection: flex-start)
  gap: 12px 50px
  position: relative

  .ant-btn
    position: absolute
    top: 30px
    right: 30px
    min-width: 150px

  &_row
    @include flex($flexDirection: row, $justifyDirection: flex-start, $alignDirection: center)

  .text_field
    @include typograph($size: 14px, $weight: 400, $color: $green_100)
    margin: 0

  .field
    min-width: 150px

.career-form
  width: 100%
  padding: 30px !important
  background: #fff
  border: 1px solid #dbe0e4
  border-radius: 2px

  .ant-form-item
    max-width: 70%

    .ant-form-item-label
      min-width: 150px
      text-align: left